.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 480px;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .container .login {
    border-style: hidden;
  }
}

.container .login .login_logo {
  width: 40vw;
  display: inline-block;
  position: relative;
}

.container .login p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4D4D4D;
  line-height: 1.5;
  font-size: 1.4vw;
  text-align: center;
  width: 80%;
}

.container .login input {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container .login button {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  background-color: #3068D9;
  display: block;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  height: 4vh;
  margin-top: 2vh;
}

.container .login .login_imgs {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .container .login .login_imgs {
    display: none;
  }
}

.container .login .login_imgs img {
  width: 10vw;
}

.container .login .login_imgs .login_yellowBean {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 15vw;
}

.container .login .login_imgs .login_orangeBean {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .login form {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container .test {
  top: 5%;
  right: 50%;
  position: absolute;
  height: 80%;
  border-right: 4px solid #3068D9;
}

@media screen and (max-width: 480px) {
  .container .test {
    top: 0%;
    right: 0%;
    position: relative;
    height: 0%;
    border-right-style: none;
  }
}

@media screen and (max-width: 480px) {
  .container .test {
    width: 90%;
    height: 75px;
    border-bottom: 4px solid #3068D9;
  }
}

.container .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 480px;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container .register p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4D4D4D;
  font-size: 1.4vw;
  text-align: center;
  width: 80%;
}

.container .register h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4D4D4D;
  font-size: 2vw;
  margin-bottom: -1vh;
}

.container .register .register_required {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.7em;
  color: #F27D16;
}

.container .register form input {
  margin: 1.5vh;
}

.container .register button {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  background-color: #3068D9;
  border-style: none;
  border-radius: 20px;
  margin-top: 2vh;
  width: 100%;
  height: 4vh;
}
/*# sourceMappingURL=login.css.map */